@import url('https://unpkg.com/css.gg@2.0.0/icons/css/add.css');

.sidenav {
    height: 100vh;
    width: 80px;
    position: fixed;
    top: 0;
    left: 0;
    /* background-color: #f0f0f0; */
    padding-top: 64px;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
  }
  
  .sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 20px 10px 20px;
  }

  .sidenav li {
    margin: 10px 0px 25px 10px;
    /* padding: 10px 0px 50px 10px; */
  }
  
  .sidenav li:hover {
    cursor: pointer;
    transform: scale(1.5);
  }

  